@use "../../abstracts/Mixins" as *;
@use "../../abstracts/Variables" as*;


@include breakpoint(375px){
  .form-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
  
    &--button {
      width: 12rem;
      height: 4rem;
      font-size: 1.7rem;
      color: white;
      letter-spacing: 0.2rem;
      font-weight: 800;
      text-shadow: 0 0 0.5rem black;
  
      &__cancel {
        @include cardColors($lightBlue, $blue);
  
        &:hover {
          @include hoverState($greyishBlue, 0.7s);
        }
      }
  
      &__submit {
        @include cardColors($pink, $darkerPink);
  
        &:hover {
          @include hoverState($darkerPink, 0.7s);
        }
      }
    }
  }
  

}
