@use "../../abstracts/Mixins" as *;
@use "../../abstracts/Variables" as *;

@include breakpoint(375px) {
  .new-hair-day {
    @include backgroundAndBorderColors($lightestPink, $darkerPink);
    margin: 10% auto 0;
    max-width: 95%;
    padding: 2rem;
    box-shadow: 21px -14px 15px -5px rgba(204, 98, 204, 0.37);
    display: flex;
    justify-content: center;

    &--btn {
      font-size: 1.7rem;
      padding: 1rem 2rem;
      @include backgroundAndBorderColors($darkerPink, $darkerPink);
      font-weight: 800;
      text-shadow: 0 0 0.5rem black;
      color: white;
      width: 80%;
    }
  }
}

@include breakpoint(768px) {
  .new-hair-day {
    max-width: 80rem;
    &--btn {
      width: auto;
    }
  }
}
