@use "../../abstracts/Mixins" as *;
@use "../../abstracts/Variables" as *;


@include breakpoint(375px){
  .new-day-card {
    @include cardColors($lightestPink, $darkerPink);
    margin: 10% auto;
    min-width: 35rem;
    max-width: 55rem;
    min-height: 36rem;
    box-shadow: 21px -14px 15px -5px rgba(204, 98, 204, 0.37);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

}


@include breakpoint(810px) {
  .new-day-card {
    min-width: 55rem;
    
  }
}
