@use "../../abstracts/Mixins" as *;
@use "../../abstracts/Variables" as *;

@include breakpoint(375px) {
  .form-footer {
    width: 90%;
    text-align: center;

    &--button {
      width: 80%;
      height: 4.5rem;
      margin-bottom: 2.5rem;
      font-size: 1.7rem;
      @include fontWithShadow;

      &__cancel {
        @include backgroundAndBorderColors($lightBlue, $blue);

        &:hover {
          @include hoverState($greyishBlue, 0.7s);
        }
      }

      &__submit {
        @include backgroundAndBorderColors($pink, $darkerPink);

        &:hover {
          @include hoverState($darkerPink, 0.7s);
        }
      }
    }
  }
}

@include breakpoint(768px) {
  .form-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;

    &--button {
      width: 12.5rem;
    }
  }
}
