@use '../../abstracts/Mixins' as *;

.star-rating {
  height: 9.5rem;
  width: 90%;
  align-self: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 1rem;

  &--paragraph {
    @include fontWithShadow;
    font-size: 1.9rem;
    margin: 0 auto;
    margin-bottom: 0.5rem;
    text-align: center;
  }
}
