@mixin breakpoint($bpMin: 0) {
  @media (min-width: $bpMin) {
    @content;
  }
}

@mixin backgroundAndBorderColors($backgroundColor, $borderColor) {
  background-color: $backgroundColor;
  border-color: $borderColor;
}

@mixin hoverState($backgroundColor, $transitionTime){
    background-color: $backgroundColor;
    transition: $transitionTime;
}

@mixin fontWithShadow{
  color: white;
  letter-spacing: 0.2rem;
  font-weight: 800;
  text-shadow: 0 0 0.5rem black;
}
