//pink colors
$lightestPink: #ebd7e6;
$pink: #f0bfe5;
$darkerPink: #cc62cc5e;
$lightGrey: #f8f3f3;
$lightBlue: #BFCDF0;
$blue: #90a3d3;
$greyishBlue: #A8B6DA;

//shadows
$formInputBoxShadow: #42445a;
$formInputBorder: lightgrey;