@use "../../../abstracts/Variables" as *;
.collapsable {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.5rem;

  &--btn {
    border: none;
    width: 95%;
    height: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.5;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }


}

.options-list {
  background-color: white;
  width: 95%;
  padding: 1rem;
  display: block;

  &--item {
    width: 100%;
    margin-bottom: 1rem;
    display: block;
    line-height:3.5rem;
  }
}

.HD-checkbox-container {
  width: 100%;
  justify-content: space-around;
}

.HD-checkbox-container label::before {
  border-color: white;
}

.HD-checkbox-container input:checked + label::before {
  color: black;
}
