@use "../../abstracts/Mixins" as *;
@use "../../abstracts/Variables" as *;

.hair-days-card {
  @include backgroundAndBorderColors($greyishBlue, $blue);
  margin: 1% auto 0;
  min-height: 9rem;
  max-width: 70rem;
  padding: 1rem;
}
