@use '../../abstracts/Mixins' as*;
@use '../../abstracts/Variables' as *;

.HD-Header{
    width: 100%;
    height: 8rem;
    padding: 1rem;
    @include backgroundAndBorderColors($blue, $blue);
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}