@use "../../../abstracts/Mixins" as *;
@use "../../../abstracts/Variables" as *;

  .NHD-checkbox-container label::before {
    border-color: $blue;
  }

  .NHD-checkbox-container label:hover::before,
  .NHD-checkbox-container input:hover + label::before {
    background-color: $lightBlue;
  }

  .NHD-checkbox-container input:checked + label::before {
    background-color: $blue;
    color: white;
    box-shadow: 0 0 20px $blue;
  }

  .NHD-checkbox-container input:focus + label::before {
    box-shadow: 0 0 20px $blue;
  }

