
.card{
    border-radius: 2rem; 
    border: 0.2rem solid;
    border-top:0.8rem solid;
    border-right:0.8rem solid;
    margin: 0 auto;
}

.button{
    border-radius: 0.8rem;
    border: 0.2rem solid;
    border-right: 0.4rem solid;
    border-top: 0.4rem solid;
    margin-right:2rem;

}
